<div class="col-xs-12 col-sm-4">
  <div class="dev">
    <div class="dev-avatar__name">
      <%= image_tag user.avatar_url, class: "avatar-large avatar-bordered" %>
      <div style="margin-left: 20px;">
        <div class="dev-name">
          <%= user.full_name %>
        </div>
        <div class="dev-username">
          @<%= user.github_username %>
        </div>
      </div>
    </div>
    <div class="dev-details">
      <div class="dev-row">
        Hourly Rate:
        <span class="dev-rate">€<%= user.hourly_rate %></span>
      </div>
      <div class="dev-row">
        <span class="dev-skills">
          <%= user.skills_to_s %>
        </span>
      </div>
    </div>
    <div class="dev-book text-center">
      <%= link_to "Hire", "#", class: "btn btn-primary" %>
    </div>
  </div>
</div>
