<div class="footer">
  <div class="footer-links">
    <%= link_to "#" do %>
      <%= icon('fab', 'github', class: 'strong') %>
    <% end %>
    <%= link_to "#" do %>
      <%= icon('fab', 'instagram', class: 'strong') %>
    <% end %>
    <%= link_to "#" do %>
      <%= icon('fab', 'facebook-f', class: 'strong') %>
    <% end %>
    <%= link_to "#" do %>
      <%= icon('fab', 'twitter', class: 'strong') %>
    <% end %>
    <%= link_to "#" do %>
      <%= icon('fab', 'linkedin-in', class: 'strong') %>
    <% end %>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> at Le Wagon
  </div>
</div>
